* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.ovo-head {
    width: 100%;
    height: 54px;
    background-color: #3cb1ff;
    box-shadow: 0 0 5px #555555;
    z-index: 100;
}

.ovo-head .logo {
    height: 40px;
    margin: 20px;
    margin-top: 7px;
    float: left;
    color: #ffffff;
    font-family: 庞门正道标题体;
    line-height: 40px;
    font-size: 30px;
}

.ovo-head .logo img {
    height: 40px;
    float: left;
}

.ovo-head .nav {
    height: 100%;
    float: left;
}

.ovo-head .nav .nav_li {
    float: left;
    height: 100%;
    line-height: 54px;
}

.ovo-head .nav .nav_li a {
    color: #ffffff;
    display: block;
    padding: 0 20px;
    cursor: pointer;
}

.ovo-head .nav .nav_li:hover {
    background-color: #2199e9;
}

.ovo-head .nav .this {
    background-color: #2199e9;
}

.ovo-head .nav .nav_menu {
    display: none;
    background-color: #ffffff;
    padding: 5px 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px #555555;
    position: absolute;
}

.ovo-head .nav .nav_menu li {
    word-wrap: normal;
}

.ovo-head .nav .nav_menu li a {
    color: #444444;
    display: block;
    height: 40px;
    padding-left: 15px;
    font-weight: 400;
    line-height: 40px;
}

.ovo-head .nav .nav_menu li a:hover {
    background-color: #eeeeee;
}

.ovo-head .nav .nav_menu_btn:hover .nav_menu {
    display: block;
}

.ovo-vertical {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    background-color: #3cb1ff;
}

.ovo-vertical .nav_li a {
    color: #ffffff;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.ovo-vertical .this {
    background-color: inherit;
}

.ovo-vertical .this dl {
    display: block;
}

.ovo-vertical .nav_li:hover {
    background-color: inherit;
}

.ovo-vertical dl {
    display: none;
    background-color: #2e2e2e;
}

.ovo-vertical .nav_li dl dd {
    opacity: 0.5;
}

.ovo-vertical .nav_li dl dd a {
    color: #ffffff;
}

.ovo-vertical .nav_li dl dd:hover {
    opacity: 1;
}

.ovo-vertical .nav_li:hover dl {
    display: block;
}

.ovo-blue {
    background-color: #3cb1ff !important;
}

.ovo-orange {
    background-color: #ffb833 !important;
}

.ovo-red {
    background-color: #ff351a !important;
}

.ovo-green {
    background-color: #10ec59 !important;
}

.ovo-black {
    background-color: #252525 !important;
}

.ovo-button {
    padding: 10px 20px;
    border-radius: 2px;
    transition: .1s;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #3cb1ff;
    font-size: 15px;
}

.ovo-button_shadow {
    box-shadow: 0 0 10px #3cb1ff;
}

.ovo-button_r {
    border-radius: 50px;
}

.ovo-button:hover {
    filter: brightness(1.1);
}

.ovo-button:active {
    filter: brightness(0.9);
}

.ovo-button_shadow:active {
    box-shadow: none;
}

.ovo-fdt-box {
    border-color: #d1d1d1;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    margin: auto;
}

.ovo-fdt-box legend {
    padding: 10px;
    margin-left: 10px;
}

.ovo-fdt-box div {
    padding: 10px 20px 20px 20px;
}

.ovo-fdt-u {
    border: none;
    border-top: 1px solid #d1d1d1;
    width: 80%;
    margin: auto;
}

.ovo-fdt-u legend {
    padding: 10px;
    margin: auto;
    font-size: 20px;
}

.ovo-blqu {
    border-left: 5px solid #3cb1ff;
    padding: 10px;
    background-color: #eeeeee;
}

.ovo-blqu-red {
    border-left: 5px solid #ff351a;
    padding: 10px;
    background-color: #eeeeee;
}

.ovo-blqu-orange {
    border-left: 5px solid #ffb833;
    padding: 10px;
    background-color: #eeeeee;
}

.ovo-blqu-green {
    border-left: 5px solid #10ec59;
    padding: 10px;
    background-color: #eeeeee;
}

.ovo-dialogbox {
    background-color: #747474;
    padding: 14px 18px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    margin: 10px 10px 10px 10px;
    position: relative;
}

.dialogbox_bottom::after {
    content: '';
    border: 8px solid #ffffff00;
    border-top: 8px solid #747474;
    position: absolute;
    bottom: -15px;
    left: 50%;
}

.dialogbox_top::after {
    content: '';
    border: 8px solid #ffffff00;
    border-bottom: 8px solid #747474;
    position: absolute;
    top: -15px;
    left: 50%;
}

.dialogbox_left::after {
    content: '';
    border: 8px solid #ffffff00;
    border-right: 8px solid #747474;
    position: absolute;
    top: 8px;
    left: -15px;
}

.dialogbox_right::after {
    content: '';
    border: 8px solid #ffffff00;
    border-left: 8px solid #747474;
    position: absolute;
    top: 8px;
    right: -15px;
}

.ovo-box {
    width: 100%;
    position: relative;
}

.ovo-box .ovo-box_box {
    float: left;
    width: 25%;
}

.ovo-box .shili {
    text-align: center;
    color: #ffffff;
    line-height: 50px;
}

@media screen and (max-width:900px) {
    .ovo-box_box {
        width: 33.33333% !important;
    }
}

@media screen and (max-width:700px) {
    .ovo-box_box {
        width: 50% !important;
    }
}

@media screen and (max-width:500px) {
    .ovo-box_box {
        width: 100% !important;
    }
}

.ovo-scrollbar::-webkit-scrollbar {
    width: 10px;
    background: none;
}

.ovo-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 5px;
}

.ovo-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

.ovo-inp {
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    transition: .3s;
}

.ovo-inp:hover {
    border-color: #aaaaaa;
}

.ovo-inp:focus {
    border-color: #25afff;
    box-shadow: 0 0 5px #25afff;
}

.ovo-inp_cb {
    width: 16px;
    margin: 10px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.ovo-inp_cb[type="checkbox"]:hover {
    border: 1px solid #3cb1ff;
}

.cb_red[type="checkbox"]:hover {
    border: 1px solid #ff351a !important;
}

.cb_red:checked {
    color: #fff;
    background-color: #ff351a !important;
    border: 1px solid #ff351a !important;
}

.cb_orange[type="checkbox"]:hover {
    border: 1px solid #ffb833 !important;
}

.cb_orange:checked {
    color: #fff;
    background-color: #ffb833 !important;
    border: 1px solid #ffb833 !important;
}

.cb_green[type="checkbox"]:hover {
    border: 1px solid #10ec59 !important;
}

.cb_green:checked {
    color: #fff;
    background-color: #10ec59 !important;
    border: 1px solid#10ec59 !important;
}

.ovo-inp_cb:checked {
    color: #fff;
    background-color: #3cb1ff;
    border: 1px solid #3cb1ff;
}

.ovo-inp_cb:after {
    content: "\2714";
}

.ovo-inp_rd {
    margin: 10px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 50%;
}

.ovo-inp_rd:checked {
    color: #fff;
    background-color: #43adea;
    border-color: #43adea;
}

.ovo-inp_rd:after {
    content: "◉";
}